<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links to all points</title>
</head>
<body>
<h1>Links to all GETPoints and thymeleaf</h1>

<h2>CustomerController GetMapping</h2>
<ul>
  <li><a href="/customers">/customers</a></li>
  <li><a href="/customers/1">/customers/1</a></li>
</ul>

<h2>ItemController GetMapping</h2>
<ul>
  <li><a href="/items">/items</a></li>
  <li><a href="/items/1">/items/1</a></li>
</ul>

<h2>OrderController GetMapping</h2>
<ul>
  <li><a href="/orders">/orders</a></li>
  <li><a href="/orders/1">/orders/1</a></li>
</ul>

<h2>ThymeLeafController</h2>
<ul>
  <li><a href="/form">/form</a></li>
  <li><a href="/customerList">/customerList</a></li>
  <li><a href="/customerList/1">/customerList/1</a></li>
</ul>


</body>
</html>